@* @page "/addevent"
@using EventSpaceUI.Client.Utilities
@inject IApiService _apiService
@layout AdminLayout

<style>
    .fs--heading {
        font-size: 1.8rem;
    }

    .fs--normal {
        font-size: 1.6rem;
    }

    .ongoing-event {
        color: green;
    }

    .to-organize-event {
        color: blue;
    }

    .closed-event {
        color: yellow;
    }

    .input-reset {
        width: 100%;
        outline: transparent;
        border: transparent;
    }

        .input-reset:hover {
            outline: transparent;
        }

    .row-add {
        background-color: white;
    }

    .row {
        padding: 5px 0px;
        border-bottom: 1px solid gray;
    }

    .btn-container {
        width: 15%;
    }
</style>

    <div class="container pb-5 pt-5">
        <div class="d-flex justify-content-between pb-4 mt-5">

            <div>
                My events
            </div>
            <div class="btn-container d-flex justify-content-end w-50  fs--medium ">
                <a class="btn-main btn-main-fill " type="button" data-bs-toggle="modal" data-bs-target="#eventModal"><i class="bi bi-plus-circle-fill pe-1"></i>Add Event</a>
                <a class="btn-main btn-main-fill ms-3" type="button"><i class="bi bi-funnel-fill pe-1"></i>Filter</a>
                <a class="btn-main btn-main-fill  ms-3" type="button"><i class="bi bi-box-arrow-right pe-1"></i>Export</a>


            </div>
        </div>

        <div class="modal fade " id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg--secondary">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="eventModalLabel">Create Event</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-controller="Event" asp-action="CreateEvent" enctype="multipart/form-data">

                            <div class="mb-3">
                                <label class="form-label" asp-for="Name"></label>
                            <input  class="form-control" required>
                                <span class="text-dark fs--xsmall"></span>

                            </div>
                            <div class="mb-3">
                                <label class="form-label"></label>
                            <input class="form-control"  type="text" required>
                                <span class="text-dark fs--xsmall"></span>

                            </div>
                            <div class="mb-3">
                                <label class="form-label" asp-for="Artist"></label>
                            <input type="text" class="form-control" required>
                                <span class="text-dark fs--xsmall"></span>

                            </div>



                            <div class="input-group mb-3">
                                <label class="form-label" asp-for="@Model.Event.Date"></label>

                                <input id="evtDate"
                                   type="datetime-local"
                                   min="2023-06-01T08:30"
                                   max="2025-06-30T16:30"
                                   class="form-control" asp-for="@Model.Event.Date"/>
                            </div>

                            <div class="mb-3">
                                <input type="file" class="form-control" asp-for="@Model.Event.PhotoUrl" required/>
                            </div>


                            <div class="input-group mb-3">
                                <select class="form-select" asp-for="@Model.Event.Type" asp-items="@Model.SelectListItems" onchange="handleChange(this)" required>
                                    <option selected>Choose...</option>
                                </select>
                                <label class="input-group-text" for="inputGroupSelect02">Type</label>
                                <span class="text-dark fs--xsmall" asp-validation-for="@Model.Event.Type"></span>

                            </div>

                            <div class="mb-3 d-block" id="totalSeats">
                                <label class="form-label" asp-for="@Model.Event.TotalSeats"></label>
                                <input type="number" min="1" class="form-control" asp-for="@Model.Event.TotalSeats" required>
                                <span class="text-dark fs--xsmall" asp-validation-for="@Model.Event.TotalSeats"></span>
                            </div>



                            <div id="variants" class="d-none">
                                <h4>Variants</h4>
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label">Tier name</label>
                                        <label class="form-label">Price</label>
                                        <label class="form-label">No of seats</label>

                                    </div>
                                    @for (int i = 0; i < Model.Tiers.Count; i++)
                                    {
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <input class="form-control mb-3" asp-for="@Model.Tiers[i].Name" type="text" required/>
                                                <span class="text-dark fs--xsmall" asp-validation-for="@Model.Tiers[i].Name"></span>

                                            </div>
                                            <div>

                                                <input type="number" min="1" class="form-control mb-3" asp-for="@Model.Tiers[i].Price" required/>
                                                <span class="text-dark fs--xsmall" asp-validation-for="@Model.Tiers[i].Price"></span>

                                            </div>

                                            <div>
                                                <input type="number" min="1" class="form-control seats mb-3" asp-for="@Model.Tiers[i].TotalSeats" required/>
                                                <span class="text-dark fs--xsmall" asp-validation-for="@Model.Tiers[i].TotalSeats"></span>


                                            </div>
                                        </div>

                                    }
                                </div>

                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn-main btn-dark btn-block" type="submit">Create event</button>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="responsive-custom">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Artist</th>

                        <th scope="col">Total Seats</th>
                        <th scope="col">Available Seats</th>
                        <th scope="col">Sold Seats</th>
                        <th scope="col">Amount raised</th>
                        <th scope="col">Status</th>
                        <th>Actions</th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.EventList.Select((value, index) => new { Value = value, Index = index + 1 }))
                    {
                        <tr class="row-border">
                            <th scope="row">@obj.Index</th>
                            <td>@obj.Value.Name</td>
                            <td>@obj.Value.Date.ToShortDateString()</td>
                            <td>@obj.Value.Venue</td>
                            <td>@obj.Value.Artist</td>
                            <td>@obj.Value.TotalSeats</td>
                            <td>@obj.Value.AvailableSeats</td>
                            <td>@obj.Value.SoldSeats</td>
                            <td>@obj.Value.AmountRaised</td>
                            <td>@obj.Value.Status</td>
                             <td>
                            <div class="d-flex justify-content-between align-items-center button-container">
                                <a class="btn-main btn-main-fill fs--xsmall" asp-controller="Event" asp-action="GetEventDetails" asp-route-id="@obj.Value.Id">View</a>
                                <a class="btn-main btn-main-fill fs--xsmall" asp-controller="Event" asp-action="Edit" asp-route-id="@obj.Value.Id">Edit</a>
                                <a class="btn-main btn-main-fill fs--xsmall" asp-controller="Event" asp-action="Delete" asp-route-id="@obj.Value.Id">Delete</a>

                            


                            </div>
                            </td>


                        </tr>
                    }

                </tbody>
            </table>
    </div>
        <div class="ongoing fs--heading pt-5">
            <div class="d-flex ">
                <p>Open</p>
                <p>
                    <button class="btn " type="button" data-bs-toggle="collapse" data-bs-target="#ongoing-event" aria-expanded="false" aria-controls="collapseExample">
                        <i class="bi bi-chevron-down text-white"></i>
                    </button>
                </p>
            </div>
            <div class="collapse show fs--normal" id="ongoing-event">
                <div class="row text-secondary row-border">

                    <div class="col-6">
                        <i class="bi bi-circle-fill ongoing-event"></i>
                        <span>Name</span>
                    </div>
                    <div class="col-2">Date</div>
                    <div class="col-2">Amount Raised</div>
                    <div class="col-2">Type</div>
                </div>
                @foreach (var obj in Model.EventList.Where(obj => obj.Status == EventVerse.Core.Enums.EventStatus.Open))
                {
                    <div class="row row-border ">
                        <div class="col-6">
                            <i class="bi bi-circle-fill ongoing-event"></i>
                            <span>@obj.Name</span>
                        </div>
                        <div class="col-2">@obj.Date.ToShortDateString()</div>
                        <div class="col-2">@obj.AmountRaised</div>
                        <div class="col-2">@obj.Type</div>
                    </div>
                }



            </div>
        </div>


        <div class="closed fs--heading pt-5">
            <div class="d-flex ">
                <p>Closed event</p>
                <p>
                    <button class="btn " type="button" data-bs-toggle="collapse" data-bs-target="#closed-event" aria-expanded="false" aria-controls="collapseExample">
                        <i class="bi bi-chevron-down text-white"></i>
                    </button>
                </p>
            </div>
            <div class="collapse show fs--normal" id="closed-event">

                <div class="row row-border  text-secondary">

                    <div class="col-6">
                        <i class="bi bi-circle-fill closed-event"></i>
                        <span>Name</span>
                    </div>
                    <div class="col-2">Date</div>
                    <div class="col-2">Amount raised</div>
                    <div class="col-2">Type</div>
                </div>
                @foreach (var obj in Model.EventList.Where(obj => obj.Status == EventVerse.Core.Enums.EventStatus.Closed))
                {
                    <div class="row row-border ">
                        <div class="col-6">
                            <i class="bi bi-circle-fill closed-event "></i>
                            <span>@obj.Name</span>
                        </div>
                        <div class="col-2">@obj.Date.ToShortDateString()</div>
                        <div class="col-2">@obj.AmountRaised</div>
                        <div class="col-2">@obj.Type</div>
                    </div>
                }




            </div>
        </div>

    </div>
@* 



    <script>
        let variant = document.getElementById("variants");
        let seats = document.getElementById("totalSeats");
        function handleChange(ele) {
            console.log(ele.value);
            if (ele.value == 'Paid') {
                variants.classList.remove('d-none');
                seats.classList.add('d-none');
            }
            if (ele.value == 'Free' || ele.value == 'Fundraiser') {
                seats.classList.remove('d-none');
                variants.classList.add('d-none');
            }
            variants.classList.add('d-block');
            seats.classList.add('d-block');
        }

    // Get the current date and time
    var currentDate = new Date();

    // Convert the current date to the desired format ("yyyy-mm-ddThh:mm")
    var year = currentDate.getFullYear();
    var month = ('0' + (currentDate.getMonth() + 1)).slice(-2);
    var day = ('0' + currentDate.getDate()).slice(-2);
    var hours = ('0' + currentDate.getHours()).slice(-2);
    var minutes = ('0' + currentDate.getMinutes()).slice(-2);
    var currentDateTime = year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;

    // Set the minimum and maximum dates for the input field
    document.getElementById("evtDate").setAttribute("min", currentDateTime);
    document.getElementById("evtDate").setAttribute("max", "2025-12-31T23:59");

    </script> *@ 