@page "/eventview/{eventId}"

@using EventSpaceUI.Client.Utilities
@using static EventSpaceUI.Client.Pages.Event.EventForm
@inject IApiService _apiService
@inject NavigationManager NavigationManager 

<div class="container p-5">
    <div class="row">
        <img src="/images/livemusic.jpeg" class="event-img mt-5" />
    </div>
    <div class="row pt-5 ">
        <div class="col-7">
            <h2>@Event.Name</h2>
            <h3 class="pt-1 pb-3">@Event.Artist</h3>
            <div class="col-1 event-status">
                <h5>Paid</h5>
            </div>

            @if (Event.TierList.Count > 0)
            {
                @foreach (var tier in Event.TierList)
                {
                    <div class=" row mb-2 d-flex mt-2 pb-5 justify-content-between event-list mt-2">
                        <div class="col-3"> Name : @tier.Name</div>
                        <div class="col-3"> Price : NPR. @tier.Price</div>
                        <div class="col-3"> Available seats : @tier.AvailableSeats</div>
                        <div class=" col-3 mt-3">
                            <a class="btn-main-sm btn-main-outline p-2 mt-5 " @onclick="() => NavigateToTierView(tier.Id ?? 0)"><i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-1">
            <div class="divider-evt"></div>
        </div>
        <div class=" col-4 pt-3">
            <div class="row ">
                <h2 class="fs--normal">When And Where</h2>
                <div class="row justify-content-between ps-2 pt-5">
                    <div class="col-2 p-1 d-flex justify-content-center box align-items-center">
                        <i class="fas fa-calendar-week "></i>
                    </div>
                    <div class="col-10">
                        <h5>Date and Time</h5>
                        <h5>@Event.Date.ToShortDateString()</h5>
                    </div>
                </div>
                <div class="row justify-content-between ps-2 pt-5">
                    <div class="col-2 p-1 d-flex justify-content-center  box align-items-center">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="col-10">
                        <h5>Location</h5>
                        <h5>@Event.Venue</h5>
                    </div>
                    <button id="payment-button" class="btn-main btn-main-outline" data-bs-dismiss="modal">Pay with Khalti 12 </button>


                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private EventResponseDTO Event = new EventResponseDTO();

    [Parameter]
    public string EventId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(EventId))
        {
            var endpoint = $"Event/{EventId}";
            Event = await _apiService.CallApiAsync<EventResponseDTO>(endpoint, HttpMethod.Get);
        }
    }

    private void NavigateToTierView(int tierId)
    {
        NavigationManager.NavigateTo($"/ticket/{tierId}");
    }
}



<script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>


<script>

    var total;
    var config = {
        "publicKey": "test_public_key_574a5a24871b4ce99f519e96d3c23629",
        "productIdentity": "1234567890",
        "productName": "Dragon",
        "productUrl": "http://gameofthrones.wikia.com/wiki/Dragons",
        "paymentPreference": [
            "KHALTI",
            "EBANKING",
            "MOBILE_BANKING",
            "CONNECT_IPS",
            "SCT",
        ],
        "eventHandler": {
            onSuccess(payload) {
                console.log(payload);
            },
            onError(error) {
                console.log(error);
            },
            onClose() {
                console.log('widget is closing');
            }
        }
    };

    var checkout = new KhaltiCheckout(config);
    var btn = document.getElementById("payment-button");
    btn.onclick = function () {

        checkout.show({ amount: 10000 });
    }

 

</script>
