@page "/eventview/{eventId}"

@using EventSpaceUI.Client.Utilities
@using static EventSpaceUI.Client.Pages.Event.EventForm
@inject IApiService _apiService
@inject NavigationManager NavigationManager 

<div class="container p-5">
    <div class="row">
        <img src="/images/livemusic.jpeg" class="event-img mt-5" />
    </div>
    <div class="row pt-5 ">
        <div class="col-7">
            <h2>@Event.Name</h2>
            <h3 class="pt-1 pb-3">@Event.Artist</h3>
            <div class="col-1 pt-3 event-status">
                <h3>Paid</h3>
            </div>

            @if (Event.TierList.Count > 0)
            {
                @foreach (var tier in Event.TierList)
                {
                    <div class=" row mb-2 d-flex mt-2 pb-5 justify-content-between event-list mt-2" @onclick="() => NavigateToTierView(tier.Id ?? 0)">
                        <div class="col-3"> Name : @tier.Name</div>
                        <div class="col-3"> Price : NPR. @tier.Price</div>
                        <div class="col-3"> Available seats : @tier.AvailableSeats</div>
                    </div>
                }
            }
        </div>

        <div class="col-1">
            <div class="divider-evt"></div>
        </div>

        <div class=" col-4 pt-3">
            <div class="row ">
                <h2 class=" fs--heading-1">When and Where</h2>

                <div class="row justify-content-between ps-2 pt-5">
                    <div class="col-2 p-1 d-flex justify-content-center box align-items-center">
                        <i class="fas fa-calendar-week "></i>
                    </div>
                    <div class="col-10">
                        <h3>Date and Time</h3>
                        <h3>@Event.Date.ToShortDateString()</h3>
                    </div>
                </div>

                <div class="row justify-content-between ps-2 pt-5">
                    <div class="col-2 p-1 d-flex justify-content-center  box align-items-center">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="col-10">
                        <h3>Location</h3>
                        <h3>@Event.Venue</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private EventResponseDTO Event = new EventResponseDTO();

    [Parameter]
    public string EventId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(EventId))
        {
            var endpoint = $"Event/{EventId}";
            Event = await _apiService.CallApiAsync<EventResponseDTO>(endpoint, HttpMethod.Get);
        }
    }

    private void NavigateToTierView(int tierId)
    {
        NavigationManager.NavigateTo($"/ticket/{tierId}");
    }
}
